set linenumbers #adiciona numeros na lateral
set softwrap #quebra de linha quando chega na borda do editor nano
set minibar #move a barra onde mostra o nome do arquivo 
#set nonewlines #não deixa sobra de linha no final do texto
#set nohelp #remove dicas de atalho
set mouse  #cursor fica livre,no editor de texto
set statuscolor brightwhite  #muda a cor do texto e do fundo das menssagem de erro
set titlecolor brightred #muda a cor do texto e do fundo da barra que mostra o nome do arquico
set functioncolor brightwhite #muda a cor do texto e do fundo onde mostra o que modifica o atalho
#set indicator #mostra a barra-lateral do editor
set keycolor orange #muda a cor do texto e do fundo do atalho ex.: ^K ou ^u ^x
set locking #modo seguro para escrita em arquivo
set smarthome #melhora comportamento da tecla home
set showcursor #mostra o cursor no navegador de ajuda
set autoindent #replica o espaço que o anterios tinha

#__html__#
syntax "html" "\.(html|htm)$"
color lightblue "<\/?[A-Za-z0-9:-]+\b[^>]*>"
color orange "(class|id|href|src|alt|title|style|type|rel)[ ]*="
#css
color brightcyan "\<(color|background|margin|padding|font|display|position|border|width|height)\>"
color purple "[#\.][A-Za-z0-9_-]+"
#js
color brightblue "\<(var|let|const|function|return|if|else|for|while|extends|new|try|catch|async|await)\>"
color brightblue "class[[:space:]][A-Za-z0-9_]"
#comentario
color yellow "\"[^\"]*\""
color gray "//.*$"
color gray "/\*([^*]|\*+[^*/])*\*+/"
color green "<!--.*?-->"

#__php__#
syntax "php" "\.php$"
color brightblue "<\?php|\?>"
color brightgreen "\$(\w+)"
color brightblue "\<class[[:space:]]"
color brightblue "\<(echo|function|return|public|private|protected|new|if|else|foreach|while|extends|implements)\>"
#html
color lightblue "<\/?[A-Za-z0-9:-]+\b[^>]*>"
color orange "(class|id|href|src|alt|title|style|type|rel)[ ]*="
#css
color brightcyan "\<(color|background|margin|padding|font|display|position|border|width|height)\>"
color purple "[#\.][A-Za-z0-9_-]+"
#js
color brightblue "\<(var|let|const|function|return|if|else|for|while|extends|new|try|catch|async|await)\>"
color brightblue "class[[:space:]][A-Za-z0-9_]"
#comentario
color white "\"[^\"]*\""
color gray "//.*$"
color gray "/\*([^*]|\*+[^*/])*\*+/"
color green "<!--.*?-->"

#__json__#
syntax "json" "\.json$"
color brightwhite "\"[^\"]*\"(?=\s*:)"
color white "\"[^\"]*\""
color brightblack "^[ \t]*//.*$"

#__css__#
syntax "css" "\.css$"
color brightblue "\<(color|background|margin|padding|font|display|position|border|width|height)\>"
color brightgreen "[#\.][A-Za-z0-9_-]+"
color brightblack "/\*([^*]|\*+[^*/])*\*+/"

#__javascript__#
syntax "javascript" "\.js$"
color brightblue "\<(var|let|const|function|return|if|else|for|while|class|extends|new|try|catch|async|await)\>"
color gray "//.*$"
color gray "/\*([^*]|\*+[^*/])*\*+/"

#__java__#
syntax "java" "\.java$"
color lightblue "\<(class|public|private|protected|static|void|new|return|if|else|for|while|try|catch)\>"
color gray "//.*$"
color gray "/\*([^*]|\*+[^*/])*\*+/"
